{% extends 'base.html' %}
{% block head %}
    <title>Order Sensaphonics IEMs</title>
{% endblock head %}

{% block body %}
    <div class="hero-image">
        <h1>Sensaphonics</h1>
        <h2>Custom In-ear Monitors</h2>
        <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse inventore nulla odio alias dignissimos, magnam autem expedita hic quia reiciendis quas, vero cumque? Perspiciatis nobis explicabo asperiores ex impedit! Non molestiae et est unde expedita voluptate, ea quidem sunt enim quia error ratione, recusandae incidunt voluptatibus praesentium harum impedit aperiam atque? Aspernatur quo non placeat, cumque sequi sint similique. Autem inventore iusto quam odio excepturi aperiam ad repudiandae sed doloremque nihil laboriosam ducimus nisi, tenetur reprehenderit officia aut veniam vero! Quas blanditiis nisi similique, voluptas molestias iure quia ut sunt, doloribus itaque aliquid ipsa officiis? A porro maxime in.</p>
    </div>
{% endblock body %}