{% extends 'base.html' %}

{% block body %}
<div class="form" id="login">
    <div class="form-upper">
        <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- CSRF token -->
            <fieldset>
                <legend>Log In</legend>
                {{ form.email.label(class="form-label") }}<br />
                {% if form.email.errors %}
                    {{ form.email(class="form-label not-valid") }}
                    <div class="invalid">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-field") }}
                {% endif %}
                <div>
                    {{ form.password.label(class="form-label") }}<br/>
                    {% if form.password.errors %}
                        {{ form.password(class="form-label not-valid") }}
                        <div class="invalid">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-field") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="button") }}
            </div>
        </form>
    </div>
    <div class="form-lower">
        <p class="muted">Need an account? <a href="{{ url_for('register') }}">Register to get started</a></p>
    </div>
</div>
{% endblock body %}