<div class="navbar">
    <img src="https://placehold.it/150x50" alt="Placeholder logo image">
    <ul>
        <span class="left-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('products') }}">Sensaphonics IEMs</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </span>
        <span class="right-nav">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('account') }}">Account</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </span>
    </ul>
</div>