<div class="navbar">
    <img src="https://placehold.it/150x50" alt="Placeholder logo image">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('add_product') }}">Sensaphonics IEMs</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        
    </ul>
</div>